<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <p>      <img src="<%= asset_path("digitalnomad1.jpg") %>" alt="">
    </p>
    <p>Nomad's map is a community for travelers and expats who have just located to another city.
    </p>
    <p>By using this site you can find like minded people, co-living spaces and co-working offices.</p>
    <p><a href="/" class="btn btn-secondary btn-lg" role="button">Browse all</a></p>
  </div>

</div>
