<div class="container">
  <h2>Add your location</h2>
  <a ng-click="saveCoordinates()" class="button button-icon icon ion-navigate">Save my current location</a>
  <div class="row">
    <div class="col-md-8">
      <google-map center="map.center" draggable="true" options=map.options zoom="map.zoom">
        <markers models="markers" coords="'self'" click="'onClicked'">
        </markers>
      </google-map>
    </div>
    <div class="col-md-4">
      {{markers[0].position}}

      HOME - Where are you from and where are you right now?
      WORK - What work do you do online?
      EXPERIENCE - Have you worked and travelled before?
      TRAVEL PLANS - What are your travel plans for this year?
      HOBBIES - Do you have any hobbies or want to learn anything new on your next trips?
</div>
    </div>
</div>