<div class="container">
  <h2>Add your location</h2>
  <div class="row">
    <div class="col-md-8">
      <map zoom="11" center="[40.74, -74.18]" map-type-id="MapTypeId.SATELLITE">
        <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
      </map>
    </div>
    <div class="col-md-4">
      {{markers[0].position}}
</div>
    </div>
</div>