<div class="container">
  <h1>Add My Location</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="map_canvas_container">
      <div class="map_canvas">

        <ui-gmap-google-map center="map.center" draggable="true" options=map.options zoom="map.zoom">
          <ui-gmap-markers models="markers" coords="'self'" click="'onClicked'">
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
        </div>

    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary" ng-click="saveData()"><i class="fa fa-floppy-o"></i> Save My Data</a>
        </div>
    </div>
      <br>

      <div class="panel panel-default">
        <div class="panel-heading">Location</div>
        <div class="panel-body">
          <div>
            <button type="button" class="btn btn-default" ng-click="saveCoordinates()">
              <span class="fa fa-location-arrow"></span> Locate Me
            </button>
            <label ng-if="user" for="exampleInputEmail1">Current Location: </label>
            <my-reverse-geocode ng-if="user" latitude="{{user.latitude}}" longitude="{{user.longitude}}"/>

            </div>


          <em>
            Your coordinates are anonymized to protect your privacy.

          </em>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">First and Last Name</div>
        <div class="panel-body">
          <div class="form-group">
            <input type="text" ng-model="user.full_name" class="form-control" placeholder="eg. John Smith">
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Work</div>
        <div class="panel-body">
          {{work}}
          <input type="text" ng-model="user.work" class="form-control" placeholder="What work do you do online?">
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">Hobbies</div>
      <div class="panel-body">
        <input type="text" ng-model="user.hobbies" class="form-control" placeholder="Do you have any hobbies or want to learn anything new on your next trips?">
      </div>
    </div>

        <div class="panel panel-default">
          <div class="panel-heading">Life and travel plans</div>
          <div class="panel-body">
            <input type="text" ng-model="user.plans" class="form-control" placeholder="What are your travel plans for this year?">
          </div>
        </div>

</div>

    </div>


</div>

</div>
</div>