<div class="container">
  <h1>Add My Location</h1>
  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">Location</div>
        <div class="panel-body">
          <div class="text-center">
            <button type="button" class="btn btn-default" ng-click="saveCoordinates()">
              <span class="fa fa-location-arrow"></span> Locate Me
            </button>
            <br>
            <label ng-if="user.latitude" for="exampleInputEmail1">Current Location: </label>
            <my-reverse-geocode ng-if="user" latitude="{{user.latitude}}" longitude="{{user.longitude}}"/>

          </div>



          <br>
          <div class="add-container google-map-canvas-container">
            <div class="google-map-canvas">

              <ui-gmap-google-map center="map.center" draggable="true" options=map.options zoom="map.zoom">
                <ui-gmap-markers models="markers" coords="'self'" click="'onClicked'">
                </ui-gmap-markers>
              </ui-gmap-google-map>
            </div>
          </div>
          <em>
            Your coordinates are anonymized to protect your privacy.
          </em>

        </div>
      </div>



    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Full Name</div>
        <div class="panel-body">
          <div class="form-group">
            <input type="text" ng-model="user.full_name" class="form-control" placeholder="eg. John Smith">
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">What I do</div>
        <div class="panel-body">
          {{work}}
          <input type="text" ng-model="user.work" class="form-control" placeholder="What work do you do online?">
        </div>
      </div>

    <div class="panel panel-default">
      <div class="panel-heading">What I like</div>
      <div class="panel-body">
        <input type="text" ng-model="user.hobbies" class="form-control" placeholder="Do you have any hobbies or want to learn anything new on your next trips?">
      </div>
    </div>

      <div class="panel panel-default">
        <div class="panel-heading">Profile Picture</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <img class="gravatar" gravatar-src="user.email" gravatar-size="100">
            </div>
            <div class="col-sm-9">
              <br>
              Your profile picture is automatically retrieved by using <a href="https://en.gravatar.com/support/how-to-sign-up/">gravatar</a> service.
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Contact</div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-1 control-label"><i class="fa fa-envelope fa-2x"></i></label>
            <div class="col-sm-11">
              <input type="text" ng-model="user.email" disabled class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><i class="fa fa-facebook fa-2x"></i></label>
            <div class="col-sm-11">
              <input type="text" ng-model="user.contact_facebook" class="form-control" placeholder="Facebook URL">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><i class="fa fa-twitter fa-2x"></i></label>
            <div class="col-sm-11">
              <input type="text" ng-model="user.contact_twitter" class="form-control" placeholder="Twitter URL">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><i class="fa fa-linkedin fa-2x"></i></label>
            <div class="col-sm-11">
              <input type="text" ng-model="user.contact_linkedin" class="form-control" placeholder="Linkedin URL">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><i class="fa fa-building fa-2x"></i></label>
            <div class="col-sm-11">
              <input type="text" ng-model="user.contact_web" class="form-control" placeholder="Web site URL">
            </div>
          </div>
        </div>
      </div>

</div>

    </div>


</div>

</div>
</div>