<div class="row">
<div class="col-md-8 nopadding">
  <ui-gmap-google-map center="map.center" draggable="true" options="map.options" zoom="map.zoom">
    <ui-gmap-markers models="markers" labelContent="'title'" labelClass="marker-labels" coords="'self'" doCluster=true click="'onClicked'">
    </ui-gmap-markers>
  </ui-gmap-google-map>
  </div>
  <div class="col-md-4 nopadding">
    <div class="user-info" ng-click="console.log('hey');">
      <div ng-if="!user">
        Click on a marker on the map to see more details.
      </div>
      <div ng-if="user">
        <div class="row">
          <div class="col-md-4">
            <img class="gravatar" gravatar-src="user.email" gravatar-size="100">
          </div>
          <div class="col-md-8">
            <h2>{{user.full_name}}</h2>
            {{address}}
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">What I Do</div>
          <div class="panel-body">{{user.work}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">What I Like</div>
          <div class="panel-body">{{user.hobbies}} {{user.plans}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Contact</div>
          <div ng-if="!makeTextBlurry">
            <div class="panel-body">Facebook:<br>Email:<br>Twitter<br>Linkedin</div>
          </div>
          <div ng-if="makeTextBlurry">
            <div class="panel-body"><a href="#/add"><i class="icon-user"></i>Sign up to contact this person!</a></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>



    <div class="find-location">
    <div class="input-group">
          <input type="text" class="form-control" ng-autocomplete="result1" details="searchedLocation" options="options1" placeholder="Search For Location"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="setCoordinates()">
                <span class="fa fa-location-arrow"></span> Find My Current Location
              </button>
          </span>
        </div>
      </div>

</div>


