<div class="row">
<div class="col-md-8 nopadding">
  <div class="browse-container google-map-canvas-container">
    <div class="google-map-canvas">
      <ui-gmap-google-map center="map.center" draggable="true" options="map.options" zoom="map.zoom">
        <ui-gmap-markers models="markers" labelContent="'title'" labelClass="marker-labels" coords="'self'" click="'onClicked'">
        <!--<ui-gmap-markers models="markers" labelContent="'title'" labelClass="marker-labels" coords="'self'" doCluster=true click="'onClicked'">-->
        </ui-gmap-markers>
      </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class="col-md-4 nopadding">
    <div class="user-info" ng-click="console.log('hey');">
      <div ng-if="!user">
        Click on a marker on the map to see more details or <a href="#/add">add your own location</a> to the map.
      </div>
      <div ng-if="user">
        <div class="row">
          <div class="col-md-4">
            <img class="gravatar" gravatar-src="user.email" gravatar-size="100">
          </div>
          <div class="col-md-8">
            <h2>{{user.full_name}}</h2>
            {{address}}
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">What I Do</div>
          <div class="panel-body">{{user.work}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">What I Like</div>
          <div class="panel-body">{{user.hobbies}} {{user.plans}}</div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Contact</div>
          <div class="panel-body" ng-if="makeTextBlurry">
            <a ng-href="#/add">Sign up or log in to contact this user</a>
          </div>

          <div class="panel-body" ng-if="!makeTextBlurry">
            <div class="row">
              <div class="col-sm-2">
                <i class="fa fa-envelope fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <a ng-href="mailto:{{user.email}}">{{user.email}}</a>
              </div>
            </div>
            <div class="row" ng-if="user.contact_facebook">
              <div class="col-sm-2">
                <i class="fa fa-facebook fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <a ng-href="{{user.contact_facebook}}">{{user.contact_facebook}}</a>
              </div>
            </div>

            <div class="row" ng-if="user.contact_linkedin">
              <div class="col-sm-2">
                <i class="fa fa-linkedin fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <a ng-href="{{user.contact_linkedin}}">{{user.contact_linkedin}}</a>
              </div>
            </div>

            <div class="row" ng-if="user.contact_twitter">
              <div class="col-sm-2">
                <i class="fa fa-twitter fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <a ng-href="{{user.contact_twitter}}">{{user.contact_twitter}}</a>
              </div>
            </div>

            <div class="row" ng-if="user.contact_web">
              <div class="col-sm-2">
                <i class="fa fa-building fa-2x"></i>
              </div>
              <div class="col-sm-10">
                <a ng-href="{{user.contact_web}}">{{user.contact_web}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>


    </div>
  </div>
</div>



    <div class="find-location">
    <div class="input-group">
          <input type="text" class="form-control" ng-autocomplete="result1" details="searchedLocation" options="options1" placeholder="Search For Location"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="setCoordinates()">
                <span class="fa fa-location-arrow"></span> Find My Current Location
              </button>
          </span>
        </div>
      </div>

</div>


