    <google-map center="map.center" draggable="true" options=map.options zoom="map.zoom">



      <markers models="markers" labelContent="'title'" labelClass="marker-labels" coords="'self'" doCluster=true click="'onClicked'">
      </markers>
    </google-map>

    <div class="find-location">
    <div class="input-group">
          <input type="text" class="form-control" ng-autocomplete="result1" details="searchedLocation" options="options1" placeholder="Search For Location"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="setCoordinates()">
                <span class="fa fa-location-arrow"></span> Find My Location
              </button>
          </span>
        </div>
      </div>


      <div class="user-info" ng-class="makeTextBlurry ? 'blur' : ''" ng-click="console.log('hey');">
        <div class="row">
          <div class="col-md-4">
            <img class="gravatar" gravatar-src="user.email" gravatar-size="100">
          </div>
          <div class="col-md-8">
            <h2>{{user.full_name}}</h2>
            {{address}}
          </div>
          </div>

        <div class="panel panel-default">
          <div class="panel-heading">What I Do</div>
          <div class="panel-body">{{user.work}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">What I Like</div>
          <div class="panel-body">{{user.hobbies}} {{user.plans}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Contact</div>
          <div class="panel-body">Facebook:<br>Email:<br>Twitter<br>Linkedin</div>
        </div>

      </div>

    </div>
