<!--http://careers.stackoverflow.com/jobs/feed?allowsremote=True-->
<!--https://weworkremotely.com/categories/2/jobs.rss-->

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail center well well-small text-center">
          <h2>Receive jobs to your email</h2>

          <p>Get curated and personalized listing of remote jobs once per week!</p>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="e-mail">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Subscribe</button>
      </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div>
      </div>
    </div>
  </div>



  <div class="page-header">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h2>The Best Remote Jobs
</h2>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Search: css, javascript, rails…">
    </div>
    <div class="col-md-3">
        <button class="btn btn-default btn-danger">Post a job: $200 for 5 weeks</button>
    </div>
  </div>
</div>


  <table st-table="jobsCollection" class="table table-striped">
    <thead>

    <tr>
      <th st-sort="company">Company</th>
      <th st-sort="title">Title</th>
      <th st-sort="published_at">Published</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in jobsCollection">
        <td>{{row.company}}</td>
        <td><a ng-href="{{row.url}}">{{row.title}}</a>
          <br>
          <em> {{row.description | limitTo : 100}}...</em></td>
        <td>{{row.published_at | date:'MMMM d'}}</td>
    </tr>
    </tbody>
  </table>
</div>