<div>
  <span>Get curated and personalized listing of remote jobs daily!</span>
<a class="button" href="">Subscribe</a>
<div class="page-header">
  <div class="row">
    <div class="col-md-4">
      <h2>The Best Remote Jobs
</h2>
    </div>
    <div class="col-md-4">
        <span>Search: </span>
        <input type="text" class="form-control" placeholder="css, javascript, rails…">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-default btn-danger">Post a job: $200 for 5 weeks</button>
      </div>
    </div>
  </div>
</div>
  <table class="table">
    <thead>
    <tr>
      <th>Company</th>
      <th>Role</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
      <td>Monetate</td>
      <td>Affable, Organized, and Excellent Rails Developer</td>
      <td>04/07/2014</td>
    </tr>
    <tr class="success">
      <td>Monetate</td>
      <td>Affable, Organized, and Excellent Rails Developer</td>
      <td>04/07/2014</td>
    </tr>
    <tr class="active">
      <td>Monetate</td>
      <td>Affable, Organized, and Excellent Rails Developer</td>
      <td>04/07/2014</td>
    </tr>
    <tr class="active">
      <td>Monetate</td>
      <td>Affable, Organized, and Excellent Rails Developer</td>
      <td>04/07/2014</td>
    </tr>

    </tbody>
  </table>
</div>