<div>
  <span>Get curated and personalized listing of remote jobs daily!</span>
<a class="button" href="">Subscribe</a>
<div class="page-header">
  <div class="row">
    <div class="col-md-4">
      <h2>The Best Remote Jobs
</h2>
    </div>
    <div class="col-md-4">
        <span>Search: </span>
        <input type="text" class="form-control" placeholder="css, javascript, rails…">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-default btn-danger">Post a job: $200 for 5 weeks</button>
      </div>
    </div>
  </div>
</div>


  <table st-table="jobsCollection" class="table table-striped">
    <thead>

    <tr>
      <th st-sort="company">Company</th>
      <th st-sort="title">Title</th>
      <th st-sort="published_at">Published</th>
    </tr>
    <tr>
      <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in jobsCollection">
        <td>{{row.company}}</td>
        <td><a ng-href="{{row.url}}">{{row.title}}</a></td>
        <td>{{row.published_at | date:'MMMM d'}}</td>
    </tr>
    </tbody>
  </table>
</div>