<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Nomad's map</title>

  <!-- Meta -->
  <meta name="description" content="NomadsMap.com is a network for digital nomads. It helps find and connect with other people who are living and working remotely by using a live world map.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="digital nomad, nomad's map, remote, freelancer, remote worker, live map">

  <!-- CSS, Normalize First, minify for production -->
  <link rel="stylesheet" type='text/css' href="less/master.css"/>

  <!-- Import web fonts using the link tag instead of CSS @import -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

  <!-- Icons from http://fontawesome.io/ -->
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

  <!-- Favicon.ico and apple-touch-icon.png (according to Apple docs). A good tool is http://iconifier.net/ -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png" />

  <!-- Google Author link -->
  <link rel="author" href="Google+URL"/>

</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chrome/‎">install Google Chrome</a> to experience this site.</p>
<![endif]-->


<!-- Reference jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

<!-- Reference Javascript, minify for production -->
<script type="text/javascript" src="js/jquery.event.move.js"></script>
<script type="text/javascript" src="js/jquery.event.swipe.js"></script>
<script type="text/javascript" src="js/unslider.js"></script>

</body>

</html>