<!-- Summary Section -->
<section class="summary">
  <div class="container">
    <h2>Find remote jobs.</h2>
    <p>Find jobs which match your skills but enable you to work from anywhere... We are aggregating the best jobs from several different sources.</p>
    <a href="#" class="btn btn-primary btn-lg" role="button">Browse jobs</a>
  </div>
</section>
<section class="summary">
  <div class="container">
    <h2>Then find other remote professionals.</h2>
    <p>Find other location-independent people, digital nomads, freelancers, remote workers, online business owners... use city-specific discussion board to compare cities and find one which suits your needs the best.</p>
    <a href="#" class="btn btn-primary btn-lg" role="button">Browse the map</a>
  </div>
</section>
