<div class="container">
  <div class="row">
    <div class="col-md-8">
      <google-map center="map.center" draggable="true" options=map.options zoom="map.zoom">
        <markers models="markers" coords="'self'" doCluster=true click="'onClicked'">
        </markers>
      </google-map>

      <a ng-click="setCoordinates()" class="button button-icon icon ion-navigate">Find Me</a>

    </div>
    <div class="col-md-4">
      {{description}}
    </div>
    </div>
</div>