<!-- Summary Section -->
<section class="summary" id="first-box">
  <div class="container">
    <h2>Find remote jobs.</h2>
    <p>Find jobs which match your skills but enable you to work from anywhere...<br>
      We are aggregating the best jobs from several different sources.</p>
    <a href="#jobs" class="btn btn-lg btn-primary" role="button">Browse jobs</a>
  </div>
</section>
<section class="summary" id="second-box">
  <div class="container">
    <h2>Then find other remote professionals.</h2>
    <p>Find other location-independent people, digital nomads, freelancers, remote workers...<br>
      Compare cities and find one which suits your needs the best.</p>
    <a href="#browse" class="btn btn-lg btn-primary" role="button">Browse the map</a>
  </div>
</section>
