liveworkremote da bude affiliate od copass https://copass.org/map/cospaces_infos.json?slug=andrej-dragisic ili uzeti coworking visa json http://coworkingvisamap.com/getjson.php

<h4>Workspace type:</h4>
<div class="btn-group btn-toggle">
  <button class="btn btn-default">Coworking spaces</button>
  <button class="btn btn-primary active">Coffeeshops</button>
</div>