<!--liveworkremote da bude affiliate od copass https://copass.org/map/cospaces_infos.json?slug=andrej-dragisic -->

<div class="find-location">
  <div class="input-group">
    <input type="text" class="form-control" ng-autocomplete="result1" details="searchedLocation" options="options1" placeholder="Search For Location"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="setCoordinates()">
                <span class="fa fa-location-arrow"></span> Find My Current Location
              </button>
          </span>
  </div>
</div>

<div class="filter-type">
  <div class="btn-group btn-toggle">
    <button class="btn btn-default active">Co-working spaces</button>
    <button tooltip="blabla" class="btn btn-primary disabled">Coffee shops</button>
  </div>
</div>

<div class="row">
  <div class="col-md-8 nopadding">

    <div class="browse-container google-map-canvas-container">
      <div class="google-map-canvas">
        <ui-gmap-google-map center="map.center" draggable="true" options="map.options" zoom="map.zoom">
          <ui-gmap-markers models="markers" labelClass="marker-labels" coords="'self'" click="'onClicked'">
          <!--<ui-gmap-markers models="markers" labelClass="marker-labels" coords="'self'" doCluster="true" click="'onClicked'">-->
          </ui-gmap-markers>
        </ui-gmap-google-map>
        </div>
      </div>
    </div>
  <div class="col-md-4 nopadding">
    <div class="user-info">
      <div ng-if="!place">
        Click on a marker on the map to see more details.
      </div>
      <div ng-if="place">
        <br>
        <h3>{{place.name}}</h3>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">Address</div>
          <div class="panel-body">{{place.address}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Website</div>
          <div class="panel-body"><a href="{{place.website}}">{{place.website}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>